<!DOCTYPE html>
	<html>
		<head>
			<title>Moment Physics Engine</title>
		</head>
		<body>
			<!-- <canvas id='canvas' height="600" width="600"></canvas> -->
			<script type="text/javascript" src="Moment.js"></script>
		</body>
	</html>